# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Old Code/favicon.ico
Old Code/house_resized.mp4
Old Code/index.html
Old Code/index_2.html
Old Code/music.mp3
Old Code/music2.mp3
Old Code/style.css
Old Code/users_loading.mp4
Old Code/VCR_OSD_MONO_1.ttf
Old Code/old_root folder code/App.css
Old Code/old_root folder code/App.js
Old Code/old_root folder code/house_resized.mp4
Old Code/old_root folder code/index.css
Old Code/old_root folder code/index.js
Old Code/old_root folder code/logo.svg
Old Code/old_root folder code/music.mp3
Old Code/old_root folder code/music2.mp3
Old Code/old_root folder code/style.css
Old Code/old_root folder code/test.html
Old Code/old_root folder code/users_loading.mp4
Old Code/old_root folder code/VCR_OSD_MONO_1.ttf
Old Code/react/package-lock.json
Old Code/react/package.json
Old Code/react/public/index.html
Old Code/react/public/logo192.png
Old Code/react/public/logo512.png
Old Code/react/public/manifest.json
Old Code/react/public/robots.txt
Old Code/react/README.md
Old Code/react/src/App.css
Old Code/react/src/App.js
Old Code/react/src/favicon.ico
Old Code/react/src/house_resized.mp4
Old Code/react/src/index.css
Old Code/react/src/index.js
Old Code/react/src/logo.svg
Old Code/react/src/music.mp3
Old Code/react/src/music2.mp3
Old Code/react/src/reportWebVitals.js
Old Code/react/src/setupTests.js
Old Code/react/src/style.css
Old Code/react/src/test.html
Old Code/react/src/users_loading.mp4
Old Code/react/src/VCR_OSD_MONO_1.ttf
