@font-face {
    font-family: "vcr";
    src: url("VCR_OSD_MONO_1.ttf");
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#myVideo2 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.inputForm {
    position: absolute;
    width: 40%;
    height: 5%;
    font-size: 15px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 0px;
    font-family: vcr;
    text-align: center;
    
}

h1{
  position: absolute;
  font-size: 100px;
  font-family: vcr;
  color: white;
  margin-top: 110vh;
  left: 32.5%;
  z-index: 2;
}

::placeholder
{
    color:black;
    text-align: center;
    
}