@font-face {
  font-family: "vcr";
  src: url("VCR_OSD_MONO_1.ttf");
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "vcr";
  src: url("VCR_OSD_MONO_1.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgb(179, 179, 179);
  box-shadow: 0 5px 15px black;
}

.videoPlayer {
  width: 100%;
}

.soundButton {
  position:relative; 
  height:195vh;
  width:100%;
  z-index:5;    
  background-color: transparent; 
  background-repeat: no-repeat; 
  border: none; 
  cursor: pointer; 
  overflow: hidden;  
  outline: none; 
  color: transparent;
}

.myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  z-index: -5;
}

.myVideo2 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-width: 100vw;
  pointer-events: none;
  z-index: 1;
}

.inputText{
  position: absolute; 
  left: -5000px;
}

.optionalParent {
  position:fixed;
  z-index:-2;
}

.navMenu {
  position:absolute;
  background-color: black;
  width:100vw;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  z-index: 30;
}

.homeButton {
  justify-content: center;
  font-size: 30px;
}

.h1Name {
  z-index: 0; 
  position:absolute;
  font-size: 3vh;
  left: 35vw;
  width:30vw; 
  top:105vh;
  text-align: center;
  color:white;
  z-index:11;
  
}

.h1Loading{
  z-index: 0; 
  position:absolute;
  font-size: 3vh;
  width:100vw; 
  top:120vh;
  text-align: center;
  color:white;
  z-index:2;
}

.mc-field-group {
  z-index: 45;
}
.mce-responses {
  display: none;
}

.mce-responses-2 {
  position: absolute; 
  left: -5000px;
}

.mce-responses-3 {
  position:fixed;
  opacity: 0%;
}

.inputForm {
  position: absolute;
  width: 25%;
  height: 5%;
  font-size:2vw;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 0px;
  font-family: vcr;
  text-align: center;
  z-index: 20;
}

.userPage {
  background-color:black;
  position:absolute;
  min-width: 100vw;;
  min-height: 100vh;
  z-index: 20;
}

.userLink {
  display: block;
  margin: 5px;
}

.userProfileBox {
  margin-top:5vh;
  margin-left:10vw;
  width:80%;
  height:90%;
  background-color: black;
}

.userProfileInfo {
  width:100%;
}

.userProfilePic {
  float: center;
  width: 50%;
  height: auto;
  border: 3px solid black;
  margin-top: 2.5%;
  background-size: cover;
}

.instagramButton {
  background-color: black;
  background-image: url(
  'images/instagram.png');
  background-size: cover;
  border: 3px solid black;
  width: 50px;
  height:50px;
  float: center;
  clear: left;
  margin-bottom: 2.5%;
}

.spotifyButton {
  background-color: black;
  background-image: url(
  'images/spotify.png');
  background-size: cover;
  border: 3px solid black;
  width: 50px;
  height:50px;
  float: center;
  clear: left;
}

.youtubeButton {
  background-color: black;
  background-image: url(
  'images/youtube.png');
  background-size: cover;
  border: 3px solid black;
  width: 50px;
  height:50px;
  float: center;
  clear: left;
}

.instagramButton:hover, .spotifyButton:hover, .youtubeButton:hover {
  opacity: 50%;
  cursor: pointer;
}

.userTextBox {
  position: relative;
  font-size:15px;
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.messageBox {
  position: absolute;
  background-color: white;
  color:black;
  font-size:3vw;
  min-height: 10px;
  top:80%;
  width:100%;
  height:auto;
  z-index: 30;
  opacity: 100;
  animation: fadeBackground 8s;
  animation-fill-mode: forwards;
}

@keyframes fadeBackground {
  from { opacity: 100 }
  to {  opacity: 0; }
}

.fade-appear,
.fade-enter {
opacity: 0;
z-index: 1;
color:black;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
opacity: 1;
color:black;
transition: opacity 450ms linear 250ms;
}
.fade-exit {
opacity: 1;
}
.fade-exit.fade-exit-active {
opacity: 0;
transition: opacity 150ms linear;
}

.page {
  }